
<!DOCTYPE html>
<html lang="en">
<head>
    
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login Page</title>
  {%load static%}
  <link rel="stylesheet" href="{%static 'css/signup.css' %}">
</head>
<body>
  <div class="container">
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="Enter username" required />

      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Enter password" required />

      <div class="checkbox-container">
        <input type="checkbox" id="show-password" onclick="togglePassword()" />
        <label for="show-password">Show Password</label>
      </div>

      <button type="submit">Login</button>
    </form>
  </div>

  <script>
    function togglePassword() {
      const passwordInput = document.getElementById('password');
      passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password';
    }
  </script>
</body>
</html>
